<html>
<h1>Update game {{record.date}}</h1>

<div class='form'>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        Date:      {{ form.date }}
        <br>
        Player 1:  {{ form.Pl1 }}
        <br> 
        Player 2:  {{ form.Pl2 }}
        <br>
        Player 3:  {{ form.Pl3 }}
        <br>
        Player 4:  {{ form.Pl4 }}
        <br>
        Player 5:  {{ form.Pl5 }}
        <br>
        Player 6:  {{ form.Pl6 }}
        <br>
        Player 7:  {{ form.Pl7 }}
        <br>
        Player 8:  {{ form.Pl8 }}
        <br>
        Player 9:  {{ form.Pl9 }}
        <br>
        Player 10: {{ form.Pl10 }}
        <br>
        {{ form.submit }}
    </form>
</div>
</html>