<html>
<h1>Update game {{record.date}}</h1>

<div class='form'>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.date.label }} {{ form.date }}
        <br>
        {{ form.Pl1.label }} {{ form.Pl1 }}
        <br>
        {{ form.Pl2.label }} {{ form.Pl2 }}
        <br>
        {{ form.Pl3.label }} {{ form.Pl3 }}
        <br>
        {{ form.Pl4.label }} {{ form.Pl4 }}
        <br>
        {{ form.Pl5.label }} {{ form.Pl5 }}
        <br>
        {{ form.Pl6.label }} {{ form.Pl6 }}
        <br>
        {{ form.Pl7.label }} {{ form.Pl7 }}
        <br>
        {{ form.Pl8.label }} {{ form.Pl8 }}
        <br>
        {{ form.Pl9.label }} {{ form.Pl9 }}
        <br>
        {{ form.Pl10.label }} {{ form.Pl10 }}
        <br>
        {{ form.submit }}
    </form>
</div>
</html>