<html>
<h2>Monday Games</h2>

    <br>
    <br>
    <a href="http://localhost:5000/addgame">Add new Record</a>


    <table border='6' background-color: #FDDF95;>
        <tr bgcolor='lightBlue'>
            <td>Date</td>
            <td>Player1</td>
            <td>Player2</td>
            <td>Player3</td>
            <td>Player4</td>
            <td>Player5</td>
            <td>Player6</td>
            <td>Player7</td>
            <td>Player8</td>
            <td>Player9</td>
            <td>Player10</td>
            <td>Amend</td>
        </tr>
        {% for record in records %}
    
        <tr>
            <td> {{record[0]}}</td>
            <td> {{record[1]}}</a></td>
            <td> {{record[2]}} </td>
            <td> {{record[3]}} </td>
            <td> {{record[4]}} </td>
            <td> {{record[5]}} </td>
            <td> {{record[6]}} </td>
            <td> {{record[7]}} </td>
            <td> {{record[8]}} </td>
            <td> {{record[9]}} </td>
            <td> {{record[10]}} </td>
            <td> <a href="http://localhost:5000/editrecord/{{record[0]}}"> Edit</a> 
                 <a href="http://localhost:5000/deletegame/{{record[0]}}"> Delete</a></td>
        </tr>
            {%  endfor %}
    </table>

<br>
    <a href="http://localhost:5000/addgame">Add new Record</a>






</html>